.bg-custom-green {
  background-color: #b2c29d;
}

.btn-primary {
  background-color: #b2c29d;
  border-color: #b2c29d;
}

.btn-primary:hover {
  background-color: #e2e5c5;
  border-color: #e2e5c5;
}

.custom-active:not(:disabled):not(:disabled):active {
  background-color: #b2c29d;
  border-color: #b2c29d;
}

.custom-focus:focus {
  border-color: #b2c29d; 
  box-shadow: 0 0 5px #b2c29d; 
  transition: border-color 0.3s, box-shadow 0.3s; 
}

.btn-primary:disabled, .btn-danger:disabled {
  background-color: gray;
  border-color: gray;
}

.map-utils {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 1000;
}

.map-info {
  position: absolute;
  top: 20px;
  left: 40px;
  height: auto;
  max-height: 80%;
  max-width: 80%;
  z-index: 1000;
  background-color: #e2e5c5;
}

/* Media query for screens smaller than medium */
@media (max-width: 768px) {
  .map-info {
    left: 0; /* Adjust the left position to make it span the entire width */
    max-width: 100%; /* Make it take the full width of the screen */
  }
}

.dropdown-menu {
  z-index: 1200;
}

.form-select.form-select-sm {
    font-size: 12px; /* Adjust the font size as needed */
}

.custom-dropDown {
  max-width: 400px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: auto;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}